{% extends 'main/base.html' %}
{% block content %}
<form method="GET">
    <input type="text" name="nome" placeholder="Buscar por nome"/>
    <input type="submit" value="Buscar"/>
</form>
<a href="{% url 'pessoa.novo' %}">Novo</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Açoes</th>
        </tr>
    </thead>
    <tbody>
       {% for contato in contatos %}
       <tr>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.email }}</td>
          <td>{{ pessoa.telefone}}
          </td>
          <td>
            </td>
      </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}